<p>Numbers View</p>
<div ng-if="vm.loading">
    Loading...
</div>
<div ng-if="!vm.loading">
    <div>Select an input</div>
    <div>
        <input list="listFibonacci" ng-model="vm.selectedNumber" ng-change="vm.trackSelected()"/>
        <datalist id="listFibonacci">
            <option ng-repeat="num in vm.fibonacciNumbers track by $index" value="{{num}}"></option>
         </datalist>
    </div>
    <div>Current total: {{vm.currentTotal}}</div>
    <div>
        <span>History of selected numbers:</span>
    <span ng-repeat="h in vm.history track by $index">{{h}}&nbsp;</span>
    </div>
</div>
